#include <winver.h>

1 ICON "LlaShell.ico"

1 VERSIONINFO
FILEVERSION     0,0,0,1
PRODUCTVERSION  0,0,0,1
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0x0L
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      "lladlam"
            VALUE "FileDescription",  "LlaShell - Windows Shell Replacement"
            VALUE "FileVersion",      "0.0.0.1"
            VALUE "InternalName",     "LlaShell"
            VALUE "LegalCopyright",   "Copyright (C) lladlam"
            VALUE "OriginalFilename", "LlaShell.exe"
            VALUE "ProductName",      "LlaShell"
            VALUE "ProductVersion",   "0.0.0.1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
